#spell-buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#character-add {
  --border-radius: 15px;
  --color: black;
}

#button-holder {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
